*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 60%; }
  @media only screen and (max-width: 94em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 156.25em) {
    html {
      font-size: 80%; } }

body {
  overflow-x: hidden;
  padding: 2rem 6rem;
  background: #fff;
  padding-bottom: 0; }
  @media only screen and (max-width: 85em) {
    body {
      padding: 2rem 3rem; } }
  @media only screen and (max-width: 70em) {
    body {
      padding: 2rem 1rem; } }
  @media only screen and (max-width: 64em) {
    body {
      padding: 2rem 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 4000;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      display: none; } }
  .header__name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    padding-top: 1rem; }
  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 1rem; }
    .header__menu--cart {
      position: relative;
      cursor: pointer;
      margin: 0 3rem;
      transition: transform 0.5s cubic-bezier(0.25, 0, 0.1, 1); }
      .header__menu--cart span {
        position: absolute;
        top: 0;
        left: 0;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: #ee2761;
        font-weight: 700;
        transform: translate(20px, -10px); }
      .header__menu--cart svg {
        height: 3rem;
        width: 3rem;
        fill: #111; }
    .header__menu--item {
      display: inline-block;
      margin: 0 3rem;
      cursor: pointer;
      opacity: .7;
      transition: transform 0.5s cubic-bezier(0.25, 0, 0.1, 1); }
      .header__menu--item:hover {
        color: #ee2761; }
    .header__menu--login {
      position: relative;
      display: inline-block;
      margin: 0 3rem;
      cursor: pointer;
      opacity: .7;
      transition: transform 0.5s cubic-bezier(0.25, 0, 0.1, 1);
      font-weight: 700;
      opacity: 1; }

.mobileheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
  z-index: 40; }
  @media only screen and (max-width: 37.5em) {
    .mobileheader {
      display: block; } }
  .mobileheader__name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    padding-top: 1rem;
    height: 9rem; }
  .mobileheader__menu {
    display: flex;
    justify-content: center;
    align-items: center; }
    .mobileheader__menu--cart {
      position: absolute;
      top: 0;
      right: 0;
      height: 9rem;
      cursor: pointer;
      display: flex;
      margin: 0 3rem;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s cubic-bezier(0.25, 0, 0.1, 1); }
      .mobileheader__menu--cart span {
        position: absolute;
        top: 7%;
        right: 0;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: #ee2761;
        font-weight: 700;
        transform: translateX(13px); }
      .mobileheader__menu--cart svg {
        height: 5rem;
        width: 5rem;
        fill: #111; }
    .mobileheader__menu--login {
      position: relative;
      display: inline-block;
      margin: 0 3rem;
      cursor: pointer;
      opacity: .7;
      transition: transform 0.5s cubic-bezier(0.25, 0, 0.1, 1);
      font-weight: 700;
      opacity: 1; }

.jumbotron {
  position: relative;
  height: 69rem;
  margin-top: 11rem;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 3rem);
  /* grid-gap: .2rem; */
  overflow: hidden;
  background: #dfe6e9; }
  @media only screen and (max-width: 64em) {
    .jumbotron {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      margin-top: 9rem; } }
  @media only screen and (max-width: 38em) {
    .jumbotron {
      margin-top: 7rem; } }
  .jumbotron__toppicks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 40rem rgba(0, 0, 0, 0.7);
    cursor: pointer; }
    @media only screen and (max-width: 64em) {
      .jumbotron__toppicks {
        display: none; } }
    .jumbotron__toppicks h1 {
      position: absolute;
      top: 19%;
      font-size: 4.5rem;
      font-weight: 900;
      left: 0;
      width: 100%;
      text-align: center;
      color: #fff; }
    .jumbotron__toppicks--pick {
      height: 40rem;
      width: 30rem;
      margin: 0 1rem;
      position: relative;
      transform: translateY(7.5rem);
      cursor: pointer; }
      @media only screen and (max-width: 85em) {
        .jumbotron__toppicks--pick {
          margin: 0 .5rem; } }
      @media only screen and (max-width: 64em) {
        .jumbotron__toppicks--pick {
          display: none; } }
      .jumbotron__toppicks--pick img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }
    .jumbotron__toppicks--text {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20%;
      width: 100%;
      padding: 1.5rem;
      text-transform: uppercase;
      color: #000000;
      background: #fff;
      z-index: 3;
      font-size: 1.5rem;
      font-weight: 900;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; }
  .jumbotron__bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 9rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; }
    @media only screen and (max-width: 64em) {
      .jumbotron__bottom {
        height: 10rem; } }
    .jumbotron__bottom input {
      font-size: 2rem;
      outline: none;
      border: 1px solid #000000;
      height: 60%;
      width: 65%;
      border-right: none;
      padding: 1rem 1.5rem;
      background: rgba(24, 44, 97, 0.3);
      border: none;
      color: #000000; }
      @media only screen and (max-width: 26em) {
        .jumbotron__bottom input {
          width: 68%; } }
      .jumbotron__bottom input::placeholder {
        font-size: 2rem;
        color: #000000; }
    .jumbotron__bottom span {
      background: #ee2761;
      color: #fff;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      font-weight: 700;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 6px solid #000000;
      height: 60%;
      border: none;
      transform: all .2s ease-in; }
      .jumbotron__bottom span:hover {
        background: #AD1457; }
  .jumbotron::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(24, 44, 97, 0.4);
    z-index: 4; }
  .jumbotron__fig {
    overflow: hidden;
    transform: translateY(9rem);
    background: #dfe6e9; }
    @media only screen and (max-width: 64em) {
      .jumbotron__fig {
        display: none; } }
    .jumbotron__fig:nth-child(1) {
      grid-row: 1 / -1;
      grid-column: 1 / span 6; }
    .jumbotron__fig:nth-child(2) {
      grid-row: 1 / span 10;
      grid-column: 7 / span 4; }
    .jumbotron__fig:nth-child(3) {
      grid-row: 11 / span 10;
      grid-column: 7 / span 8; }
    .jumbotron__fig:nth-child(4) {
      grid-row: 1 / span 10;
      grid-column: 11 / span 4; }
    .jumbotron__fig:nth-child(5) {
      grid-row: 1 / span 10;
      grid-column: 15 / -1; }
    .jumbotron__fig:nth-child(6) {
      grid-row: 11 / span 10;
      grid-column: 15 / span 3; }
    .jumbotron__fig:nth-child(7) {
      grid-row: 11 / span 10;
      grid-column: 18 / span 3; }
    .jumbotron__fig img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
      @media only screen and (max-width: 64em) {
        .jumbotron__fig img {
          display: none; } }

.mast {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 70rem;
  background: rgba(0, 0, 0, 0.9);
  margin-top: 16rem;
  padding: 2rem 0; }
  .mast__slider {
    margin: 0 auto;
    width: 66%;
    display: flex;
    position: relative; }
    @media only screen and (max-width: 64em) {
      .mast__slider {
        width: 80vw; } }
    @media only screen and (max-width: 37.5em) {
      .mast__slider {
        width: 100%; } }
  .mast article {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.25, 0, 0.1, 1);
    flex-shrink: 0;
    transform: translateY(0rem) translateX(-51vmin) scale(0.8);
    z-index: 1; }
    @media only screen and (max-width: 64em) {
      .mast article {
        width: 80vw; } }
    @media only screen and (max-width: 37.5em) {
      .mast article {
        width: 100%; } }
    .mast article::before {
      position: absolute;
      content: '';
      background: #111;
      opacity: .6;
      width: 100%;
      height: 100%;
      z-index: 2;
      top: 0;
      left: 0; }
    .mast article[data-active] {
      z-index: 3;
      height: 100%;
      width: 100%;
      transform: translateY(0) translateX(0);
      border: solid 3px #111;
      overflow: hidden; }
      @media only screen and (max-width: 64em) {
        .mast article[data-active] {
          width: 80vw; } }
      @media only screen and (max-width: 37.5em) {
        .mast article[data-active] {
          width: 100%; } }
      .mast article[data-active]::before {
        display: none; }
    .mast article[data-active] ~ article {
      transform: translateY(0rem) translateX(51vmin) scale(0.8) rotateY(30deg);
      z-index: 1; }
    .mast article[data-active] + article {
      z-index: 2; }
    .mast article figure {
      width: 100%;
      height: 100%;
      cursor: pointer;
      overflow: hidden; }
      .mast article figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }

.announcements {
  position: relative;
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-gap: 1rem; }
  @media only screen and (max-width: 64em) {
    .announcements {
      flex-wrap: wrap; } }
  .announcements__slide__details {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 19rem;
    z-index: 4;
    width: 100%;
    color: #000000;
    background: rgba(223, 228, 234, 0.9);
    backface-visibility: hidden;
    padding: 3rem;
    font-size: 1.5rem; }
    .announcements__slide__details p:nth-child(2) {
      opacity: .7;
      font-weight: 700; }
    .announcements__slide__details p:nth-child(3) {
      position: absolute;
      right: 0;
      padding: 3rem;
      font-weight: 700; }
  .announcements__fig {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    height: 60rem;
    width: 40vw; }
    @media only screen and (max-width: 64em) {
      .announcements__fig {
        width: 50vw; } }
    @media only screen and (max-width: 37.5em) {
      .announcements__fig {
        width: 100%; } }
    @media only screen and (max-width: 64em) {
      .announcements__fig:nth-child(3) {
        width: 100%; } }
    .announcements__fig img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }

.mobilemast {
  height: 70rem;
  background: #dfe6e9;
  position: relative;
  overflow: hidden;
  display: none; }
  .mobilemast::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(24, 44, 97, 0.5);
    z-index: 4; }
  @media only screen and (max-width: 64em) {
    .mobilemast {
      display: block; } }
  .mobilemast figure {
    height: 100%;
    overflow: hidden; }
    .mobilemast figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
  .mobilemast__words {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .mobilemast__words h1 {
      font-weight: 700;
      font-size: 5.5rem;
      line-height: 7rem; }
      @media only screen and (max-width: 38em) {
        .mobilemast__words h1 {
          font-size: 4.5rem; } }
    .mobilemast__words__carousol {
      width: 100%;
      overflow: hidden;
      margin-top: 2rem; }
      .mobilemast__words__carousol--body {
        display: flex;
        flex-wrap: nowrap; }
      .mobilemast__words__carousol--card {
        width: 30rem;
        height: 45rem;
        margin: 1rem;
        flex-shrink: 0;
        background: #dfe6e9;
        text-transform: uppercase;
        position: relative; }
        .mobilemast__words__carousol--card figure {
          height: 100%;
          width: 100%;
          overflow: hidden;
          background: #dfe6e9; }
          .mobilemast__words__carousol--card figure img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block; }
        .mobilemast__words__carousol--card--text {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 4;
          background: #fff;
          color: #000000;
          height: 20%;
          font-size: 2.5rem;
          font-weight: 700; }

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100%;
  width: 60vw;
  background: #000000;
  transform: translateX(-100%);
  display: none;
  transition: all .2s ease-in; }
  .sidenav--overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(24, 44, 97, 0.6);
    right: -100%; }
  @media only screen and (max-width: 64em) {
    .sidenav {
      display: block; } }
  @media only screen and (max-width: 38em) {
    .sidenav {
      width: 70vw; } }
  .sidenav__btn--open {
    position: absolute;
    top: 0;
    right: -13%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0; }
    @media only screen and (max-width: 30em) {
      .sidenav__btn--open {
        right: -12%; } }
    @media only screen and (max-width: 26em) {
      .sidenav__btn--open {
        right: -13%; } }
    @media only screen and (max-width: 24em) {
      .sidenav__btn--open {
        right: -14%; } }
    @media only screen and (max-width: 22.5em) {
      .sidenav__btn--open {
        right: -15%; } }
    @media only screen and (max-width: 20em) {
      .sidenav__btn--open {
        right: -17%; } }
    .sidenav__btn--open span {
      display: inline-block;
      height: .5rem;
      background: #000000;
      margin: .5rem 0;
      width: 5rem;
      border-radius: 3rem; }
  .sidenav__btn--close {
    position: absolute;
    top: 0;
    right: -13%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0; }
    @media only screen and (max-width: 30em) {
      .sidenav__btn--close {
        padding: 3rem 0;
        right: -12%; } }
    @media only screen and (max-width: 26em) {
      .sidenav__btn--close {
        right: -13%; } }
    @media only screen and (max-width: 24em) {
      .sidenav__btn--close {
        right: -14%; } }
    @media only screen and (max-width: 22.5em) {
      .sidenav__btn--close {
        right: -15%; } }
    @media only screen and (max-width: 20em) {
      .sidenav__btn--close {
        right: -17%; } }
    .sidenav__btn--close span {
      display: inline-block;
      height: .5rem;
      background: #fff;
      margin: .5rem 0;
      width: 5rem;
      border-radius: 3rem; }
    .sidenav__btn--close span:nth-child(1) {
      transform: rotate(48deg) translateX(0rem) translateY(1rem); }
    .sidenav__btn--close span:nth-child(2) {
      display: none; }
    .sidenav__btn--close span:nth-child(3) {
      transform: rotate(-47deg) translateX(0rem) translateY(-1rem); }
  .sidenav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0; }
    .sidenav__menu--btn {
      color: #fff;
      margin: 1rem 0;
      width: 60%;
      padding: 1rem 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      border: .5rem solid #fff; }
      .sidenav__menu--btn-login {
        background: #fff;
        color: #111;
        font-weight: 900; }
      @media only screen and (max-width: 50em) {
        .sidenav__menu--btn {
          width: 76%; } }

.display {
  margin-bottom: 1rem; }
  .display--h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding: 4rem 0;
    cursor: pointer;
    transition: all ease-in .1s; }
    .display--h2:hover {
      color: #ee2761; }
  .display__content {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 64em) {
      .display__content {
        flex-wrap: wrap; } }
  .display__card {
    width: 40rem;
    margin: 1rem;
    cursor: pointer;
    transition: all ease-in .1s; }
    @media only screen and (max-width: 64em) {
      .display__card {
        width: 60rem; } }
    .display__card figure {
      overflow: hidden;
      height: 50rem; }
      @media only screen and (max-width: 78em) {
        .display__card figure {
          height: 40rem; } }
      @media only screen and (max-width: 64em) {
        .display__card figure {
          height: 50rem; } }
      .display__card figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }
    .display__card--details {
      padding: 2rem 0;
      color: #000000;
      font-size: 2rem; }
      .display__card--details-name {
        opacity: 4; }
      .display__card--details-price {
        font-weight: 700; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0; }
  @media only screen and (max-width: 64em) {
    .search {
      padding: 1rem;
      margin: .5rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .search {
      padding: 0 1rem; } }
  .search input {
    font-size: 2rem;
    outline: none;
    border: 1px solid #000000;
    height: 6rem;
    width: 70vw;
    border-right: none;
    padding: 1rem 1.5rem;
    background: rgba(24, 44, 97, 0.3);
    border: none;
    color: #000000; }
    @media only screen and (max-width: 64em) {
      .search input {
        width: 97vw;
        height: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .search input {
        width: 100vw; } }

.productgrid {
  position: relative;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 13.5rem; }
  .productgrid__header {
    display: flex;
    justify-content: center; }
    .productgrid__header--results {
      color: #111;
      font-weight: 700;
      opacity: .8;
      font-size: 2.3rem; }
  .productgrid__section {
    margin-top: 3rem; }
  .productgrid__menu {
    width: 22%;
    margin-right: 4rem;
    padding: 1rem; }
    .productgrid__menu h2 {
      position: relative;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 2.3rem;
      padding-bottom: 1.5rem; }
      .productgrid__menu h2::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background: #000000;
        opacity: .2;
        bottom: 0;
        left: 0; }
  .productgrid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 40rem));
    grid-gap: 2rem;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 64em) {
      .productgrid__container {
        grid-template-columns: repeat(auto-fit, minmax(50rem, 50rem)); } }
    @media only screen and (max-width: 50em) {
      .productgrid__container {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 40rem)); } }
    @media only screen and (max-width: 37.5em) {
      .productgrid__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .productgrid__card {
    width: 40rem;
    cursor: pointer;
    transition: all ease-in .1s; }
    @media only screen and (max-width: 64em) {
      .productgrid__card {
        width: 50rem; } }
    @media only screen and (max-width: 50em) {
      .productgrid__card {
        width: 40rem; } }
    @media only screen and (max-width: 37.5em) {
      .productgrid__card {
        width: 95vw; } }
    .productgrid__card figure {
      overflow: hidden;
      height: 50rem; }
      @media only screen and (max-width: 78em) {
        .productgrid__card figure {
          height: 40rem; } }
      @media only screen and (max-width: 64em) {
        .productgrid__card figure {
          height: 50rem; } }
      @media only screen and (max-width: 50em) {
        .productgrid__card figure {
          height: 40rem; } }
      @media only screen and (max-width: 37.5em) {
        .productgrid__card figure {
          height: 50rem; } }
      .productgrid__card figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }
    .productgrid__card--details {
      padding: 2rem 0;
      color: #000000;
      font-size: 2rem; }
      .productgrid__card--details-name {
        opacity: 4; }
      .productgrid__card--details-price {
        font-weight: 700; }

.productpage {
  position: relative;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 13.5rem; }
  .productpage__top {
    display: flex; }
    @media only screen and (max-width: 64em) {
      .productpage__top {
        flex-direction: column; } }
    .productpage__top__photos {
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      background: rgba(236, 240, 241, 0.4); }
      @media only screen and (max-width: 64em) {
        .productpage__top__photos {
          flex-direction: initial; } }
      .productpage__top__photos figure {
        cursor: pointer;
        height: 10rem;
        width: 10rem;
        margin-bottom: 1rem;
        overflow: hidden;
        border-radius: .5rem;
        transition: all ease-in-out .1s; }
        .productpage__top__photos figure img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block; }
      .productpage__top__photos--notcurrent {
        border: 1px solid transparent; }
      .productpage__top__photos--current {
        border: 1px solid #ee2761; }
    .productpage__top__display {
      position: relative;
      height: 85rem;
      width: 70rem;
      overflow: hidden;
      margin-right: 2rem; }
      @media only screen and (max-width: 77em) {
        .productpage__top__display {
          height: 80rem;
          width: 60rem; } }
      @media only screen and (max-width: 71em) {
        .productpage__top__display {
          height: 70rem;
          width: 50rem; } }
      @media only screen and (max-width: 64em) {
        .productpage__top__display {
          width: 80vw; } }
      @media only screen and (max-width: 37.5em) {
        .productpage__top__display {
          width: 90vw;
          height: 60rem; } }
      @media only screen and (max-width: 30em) {
        .productpage__top__display {
          height: 50rem; } }
      .productpage__top__display figure {
        height: 100%;
        width: 100%;
        overflow: hidden; }
        .productpage__top__display figure img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block; }
    .productpage__top__details {
      background: rgba(236, 240, 241, 0.4);
      padding: 2rem;
      width: 55rem; }
      @media only screen and (max-width: 86em) {
        .productpage__top__details {
          height: 70rem;
          width: 40rem; } }
      @media only screen and (max-width: 66.5em) {
        .productpage__top__details {
          height: 70rem;
          width: 35rem; } }
      @media only screen and (max-width: 64em) {
        .productpage__top__details {
          width: 80vw;
          margin-top: 1rem;
          height: 40rem; } }
      @media only screen and (max-width: 37.5em) {
        .productpage__top__details {
          width: 90vw; } }
      .productpage__top__details h2 {
        font-size: 2.55rem;
        font-weight: 400;
        margin-bottom: 2rem;
        overflow: hidden; }
      .productpage__top__details--price {
        font-size: 2.33rem;
        font-weight: 900;
        margin-bottom: 2rem;
        color: #555; }
      .productpage__top__details__sizes {
        margin-bottom: 2rem; }
        .productpage__top__details__sizes--choose {
          font-weight: 700;
          font-size: 2.22rem; }
        .productpage__top__details__sizes--cards {
          display: flex;
          flex-wrap: wrap; }
          .productpage__top__details__sizes--cards-selected {
            border: 1px solid #ee2761; }
          .productpage__top__details__sizes--cards-unselected {
            border: 1px solid transparent; }
          .productpage__top__details__sizes--cards span {
            display: inline-block;
            font-size: 2rem;
            font-weight: 700;
            padding: 1rem;
            height: 5rem;
            width: 5rem;
            border-radius: .5rem;
            margin-right: 1rem;
            background: rgba(30, 39, 46, 0.8);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
    .productpage__top__btnparent button {
      width: 100%;
      height: 6rem;
      color: #fff;
      background: #00AA5B;
      cursor: pointer;
      outline: none;
      border: none;
      font-size: 1.8rem;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      padding-top: 1px;
      justify-content: center;
      transition: all ease-in-out .1s; }
      .productpage__top__btnparent button:hover {
        background: #218c74; }
  .productpage__bottom {
    margin-top: 2rem;
    background: rgba(236, 240, 241, 0.4);
    display: flex;
    flex-direction: column;
    width: 139rem;
    padding: 2rem; }
    @media only screen and (max-width: 86em) {
      .productpage__bottom {
        width: 124rem; } }
    @media only screen and (max-width: 77em) {
      .productpage__bottom {
        width: 114rem; } }
    @media only screen and (max-width: 71em) {
      .productpage__bottom {
        width: 104rem; } }
    @media only screen and (max-width: 66.5em) {
      .productpage__bottom {
        width: 99rem; } }
    @media only screen and (max-width: 64em) {
      .productpage__bottom {
        width: 80vw; } }
    .productpage__bottom__detail {
      margin-bottom: 5rem; }
      .productpage__bottom__detail h2 {
        opacity: .7;
        font-weight: 900;
        font-size: 2rem; }
      .productpage__bottom__detail p {
        font-size: 1.7rem; }
        @media only screen and (max-width: 64em) {
          .productpage__bottom__detail p {
            font-size: 2rem; } }
  .productpage__similar h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 0;
    font-size: 2.89rem; }
  .productpage__similar__content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 64em) {
      .productpage__similar__content {
        flex-wrap: wrap; } }
  .productpage__similar__card {
    width: 30rem;
    margin: 1rem;
    cursor: pointer;
    transition: all ease-in .1s; }
    @media only screen and (max-width: 82em) {
      .productpage__similar__card {
        width: 41rem; } }
    @media only screen and (max-width: 78em) {
      .productpage__similar__card {
        width: 38rem; } }
    .productpage__similar__card figure {
      overflow: hidden;
      height: 31rem; }
      @media only screen and (max-width: 82em) {
        .productpage__similar__card figure {
          height: 43rem; } }
      @media only screen and (max-width: 78em) {
        .productpage__similar__card figure {
          height: 40rem; } }
      .productpage__similar__card figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }
    .productpage__similar__card--details {
      padding: 2rem 0;
      color: #000000;
      font-size: 2rem; }
      .productpage__similar__card--details-name {
        opacity: 4; }
      .productpage__similar__card--details-price {
        font-weight: 700; }

.shirtshoodiescard {
  width: 40rem;
  flex-shrink: 0;
  cursor: pointer;
  margin: 0rem 1.5rem; }
  @media only screen and (max-width: 119em) {
    .shirtshoodiescard {
      width: 30rem; } }
  @media only screen and (max-width: 102em) {
    .shirtshoodiescard {
      width: 29rem; } }
  @media only screen and (max-width: 94em) {
    .shirtshoodiescard {
      width: 29rem; } }
  @media only screen and (max-width: 90em) {
    .shirtshoodiescard {
      width: 27rem; } }
  @media only screen and (max-width: 81em) {
    .shirtshoodiescard {
      width: 22rem; } }
  @media only screen and (max-width: 66em) {
    .shirtshoodiescard {
      width: 30rem;
      margin-top: 2rem; } }
  @media only screen and (max-width: 50em) {
    .shirtshoodiescard {
      width: 54.5rem; } }
  @media only screen and (max-width: 20em) {
    .shirtshoodiescard {
      width: 51rem; } }
  .shirtshoodiescard figure {
    height: 50rem;
    width: 100%;
    overflow: hidden; }
    @media only screen and (max-width: 119em) {
      .shirtshoodiescard figure {
        height: 35rem; } }
    @media only screen and (max-width: 102em) {
      .shirtshoodiescard figure {
        height: 36rem; } }
    @media only screen and (max-width: 81em) {
      .shirtshoodiescard figure {
        height: 26rem; } }
    @media only screen and (max-width: 66em) {
      .shirtshoodiescard figure {
        height: 36rem; } }
    @media only screen and (max-width: 50em) {
      .shirtshoodiescard figure {
        height: 70rem; } }
    .shirtshoodiescard figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
  .shirtshoodiescard__bio {
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    background: #192a56;
    color: #fff; }
    .shirtshoodiescard__bio--text {
      height: 2rem;
      overflow: hidden;
      font-size: 1.5rem;
      margin: 1.5rem 0; }
      .shirtshoodiescard__bio--text:nth-child(2) {
        font-weight: 700; }
      @media only screen and (max-width: 81em) {
        .shirtshoodiescard__bio--text {
          font-size: 1.3rem; } }
      @media only screen and (max-width: 66em) {
        .shirtshoodiescard__bio--text {
          font-size: 2rem;
          height: 3rem; } }
      @media only screen and (max-width: 50em) {
        .shirtshoodiescard__bio--text {
          height: 3.5rem;
          font-size: 2.5rem; } }

.newarrivalcard {
  width: 54.5rem;
  margin: 0 1.5rem;
  flex-shrink: 0;
  cursor: pointer; }
  @media only screen and (max-width: 119em) {
    .newarrivalcard {
      width: 45.5rem; } }
  @media only screen and (max-width: 101em) {
    .newarrivalcard {
      width: 40.5rem; } }
  @media only screen and (max-width: 92em) {
    .newarrivalcard {
      width: 35rem; } }
  @media only screen and (max-width: 79em) {
    .newarrivalcard {
      width: 30rem; } }
  @media only screen and (max-width: 66em) {
    .newarrivalcard {
      width: 28rem;
      margin-top: 2rem; } }
  @media only screen and (max-width: 50em) {
    .newarrivalcard {
      width: 54.5rem; } }
  @media only screen and (max-width: 20em) {
    .newarrivalcard {
      width: 51rem; } }
  .newarrivalcard figure {
    height: 70rem;
    width: 100%;
    overflow: hidden; }
    @media only screen and (max-width: 119em) {
      .newarrivalcard figure {
        height: 54rem; } }
    @media only screen and (max-width: 101em) {
      .newarrivalcard figure {
        height: 45rem; } }
    @media only screen and (max-width: 92em) {
      .newarrivalcard figure {
        height: 37rem; } }
    @media only screen and (max-width: 79em) {
      .newarrivalcard figure {
        height: 30rem; } }
    @media only screen and (max-width: 66em) {
      .newarrivalcard figure {
        height: 37rem; } }
    @media only screen and (max-width: 50em) {
      .newarrivalcard figure {
        height: 70rem; } }
    .newarrivalcard figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
  .newarrivalcard__bio {
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    background: #192a56;
    color: #fff; }
    .newarrivalcard__bio--text {
      height: 3rem;
      overflow: hidden;
      font-size: 1.66rem;
      margin: 1.5rem 0; }
      .newarrivalcard__bio--text:nth-child(2) {
        font-weight: 700; }
      @media only screen and (max-width: 66em) {
        .newarrivalcard__bio--text {
          height: 2.9rem;
          font-size: 2rem; } }
      @media only screen and (max-width: 50em) {
        .newarrivalcard__bio--text {
          height: 3.5rem;
          font-size: 2.5rem; } }

.footer {
  background: #dfe4ea;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15rem;
  position: absolute;
  width: 100%;
  right: 0;
  height: 30rem; }
  @media only screen and (max-width: 1187px) {
    .footer {
      padding: 3rem; } }
  @media only screen and (max-width: 50em) {
    .footer {
      height: 45rem; } }
  .footer__top {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column; }
    .footer__top__labels {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem; }
      @media only screen and (max-width: 50em) {
        .footer__top__labels {
          flex-direction: column; } }
    .footer__top--date {
      font-size: 2rem; }
  .footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; }
    .footer__bottom__socials span {
      display: inline-block;
      margin: 0 2rem;
      cursor: pointer; }
    .footer__bottom__socials svg {
      height: 4rem;
      width: 4rem; }
      @media only screen and (max-width: 1003px) {
        .footer__bottom__socials svg {
          height: 3rem;
          width: 3rem; } }
  .footer__label {
    text-align: center;
    color: #000000;
    font-size: 2rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .footer__label {
        margin: 1.5rem;
        font-size: 2.5rem; } }


/*# sourceMappingURL=style.css.map*/