.announcements {
  position: relative;
  height: 65rem;
  display: grid;
  /* background: red; */
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(22, 2rem);
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-gap: 1rem;

  &__slide {

    &__details {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 19rem;
      z-index: 4;
      width: 100%;
      color: #000000;
      background: rgba(223, 228, 234,.9);
      backface-visibility: hidden;
      padding: 3rem;

      & p:nth-child(2) {
        opacity: .7;
        font-weight: 700;
      }

      & p:nth-child(3) {
        position: absolute;
        right: 0;
        padding: 3rem;
        font-weight: 700;
      }
    }
  }

  &__fig {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &:nth-child(1) {
      grid-row: 1 / -1;
      grid-column: 1 / span 9;
      backface-visibility: hidden;
      font-size: 2rem;

      @media only screen and (max-width: 64em) {
        grid-column: 1 / -1;
      }

      & figure {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        transition: all .2s ease-in;
        backface-visibility: hidden;
      }

      & img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    &:nth-child(2) {
      grid-column: span 6;
      grid-row: 1 / -1;   
      font-size: 1.3rem;  

      @media only screen and (max-width: 64em) {
        display: none;
      }
    }

    &:nth-child(3) {
      grid-column: span 5;
      grid-row: span 11;
      font-size: 1.3rem;
      
      @media only screen and (max-width: 64em) {
        display: none;
      }

      & .announcements__slide__details {
        height: 14rem;
        padding: 1rem;

        & p:nth-child(3) {
          padding: 1rem;
        }
      }
    }

    &:nth-child(4) {
      grid-column: span 5;
      grid-row: span 11; 
      font-size: 1.3rem; 

      @media only screen and (max-width: 64em) {
        display: none;
      }
      
      & .announcements__slide__details {
        height: 14rem;
        padding: 1rem;

        & p:nth-child(3) {
          padding: 1rem;
        }
      }
    }
  }
}