.landingdisplay {
  display: flex;
  flex-direction: column;

  &__section {
    width: 100%;
    background: #000000;
    margin: 1rem 0;

    &__content {
      margin: 0 auto;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      &--btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem 0;
  
        & span {
          background: #fff;
          color: #000000;
          padding: .8rem 2rem;
          font-size: 1.7rem;
          font-weight: 900;
          outline: none;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 3px solid #000000;
          height: 60%;
          transform: all .2s ease-in;
          text-transform: uppercase;

          @media only screen and (max-width: 66em) {
            font-size: 2.5rem;
          }
    
          &:hover {
            background: #000000;
            color: #fff;
            border: 3px solid #fff;
          }
        }
      }
    }

    & h1 {
      font-weight: 900;
      font-size: 3.2rem;
      margin: 4rem 0;
      color: #fff;
      text-align: center;

      @media only screen and (max-width: 64em) {
        padding: 0 2rem
      }

      @media only screen and (max-width: 50em) {
        font-size: 3.7rem;
      }
    }
  }
}