.mobilemast {    
  height: 70rem;
  background: #dfe6e9;
  position: relative;
  overflow: hidden;
  display: none;

  &::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(24, 44, 97, 0.5);
    z-index: 4;
  }

  @media only screen and (max-width: 64em) {
    display: block;
  }

  & figure {
    height: 100%;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__words {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
      font-weight: 700;
      font-size: 5.5rem;
      line-height: 7rem;

      @media only screen and (max-width: 38em) {
        font-size: 4.5rem;
      }
    }

    &__carousol {   
      width: 100%;
      overflow: hidden;  
      margin-top: 2rem;   
      
      &--body {
        display: flex;
        flex-wrap: nowrap;
      }

      &--card {
        width: 30rem;
        height: 45rem;
        margin: 1rem;
        flex-shrink: 0;
        background: #dfe6e9;
        text-transform: uppercase;
        position: relative;

        & figure {
          height: 100%;
          width: 100%;
          overflow: hidden;
          background: #dfe6e9;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }

        &--text {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 4;
          background: #fff;
          color: #000000;
          height: 20%;
          font-size: 2.5rem;
          font-weight: 700;
        }
      }
    }
  }
}