.productpage {
  position: relative;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 13.5rem;

  &__top {
    display: flex;

    @media only screen and (max-width: 64em) {  
      flex-direction: column
    }

    &__photos {
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      background: rgba(236, 240, 241, 0.4);

      @media only screen and (max-width: 64em) {  
        flex-direction: initial;
      }

      & figure {
        cursor: pointer;
        height: 10rem;
        width: 10rem;
        margin-bottom: 1rem;
        overflow: hidden;
        border-radius: .5rem;
        transition: all ease-in-out .1s;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      &--notcurrent {
        border: 1px solid transparent;
      }

      &--current {
        border: 1px solid #ee2761;
      }
    }

    &__display {
      position: relative;
      height: 85rem;
      width: 70rem;
      overflow: hidden;
      margin-right: 2rem;

      @media only screen and (max-width: 77em) {  
        height: 80rem;
        width: 60rem;
      }

      @media only screen and (max-width: 71em) {  
        height: 70rem;
        width: 50rem;
      }

      @media only screen and (max-width: 64em) {  
        width: 80vw
      }

      @media only screen and (max-width: 37.5em) {  
        width: 90vw;
        height: 60rem;
      }

      @media only screen and (max-width: 30em) {  
        height: 50rem;
      }

      & figure {
        height: 100%;
        width: 100%;
        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }

    &__details {    
      background: rgba(236, 240, 241,.4);
      padding: 2rem;
      width: 55rem;

      @media only screen and (max-width: 86em) {  
        height: 70rem;
        width: 40rem;
      }
      
      @media only screen and (max-width: 66.5em) {  
        height: 70rem;
        width: 35rem;
      } 

      @media only screen and (max-width: 64em) {  
        width: 80vw;
        margin-top: 1rem;
        height: 40rem;
      }

      @media only screen and (max-width: 37.5em) {  
        width: 90vw;
      }

      & h2 {
        font-size: 2.55rem;
        font-weight: 400;
        margin-bottom: 2rem;
        overflow: hidden;
      }

      &--price {
        font-size: 2.33rem;
        font-weight: 900;
        margin-bottom: 2rem;
        color: #555;
      }

      &__sizes {
        margin-bottom: 2rem;
        
        &--choose {
          font-weight: 700;
          font-size: 2.22rem;
        }

        &--cards {
          display: flex;
          flex-wrap: wrap;

          &-selected {
            border: 1px solid #ee2761;
          }

          &-unselected {
            border: 1px solid transparent;
          }

          & span {
            display: inline-block;
            font-size: 2rem;
            font-weight: 700;
            padding: 1rem;
            height: 5rem;
            width: 5rem;
            border-radius: .5rem;
            margin-right: 1rem;
            background: rgba(30, 39, 46,.8);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }

    &__btnparent {

      & button {
        width: 100%;
        height: 6rem;
        color: #fff;
        background: #00AA5B;
        cursor: pointer;
        outline: none;
        border: none;
        font-size: 1.8rem;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        padding-top: 1px;
        justify-content: center;
        transition: all ease-in-out .1s;

        &:hover {
          background: rgba(33, 140, 116,1.0);
        }
      }
    }
  }

  &__bottom {
    margin-top: 2rem;
    background: rgba(236, 240, 241, 0.4);
    display: flex;
    flex-direction: column;
    width: 139rem;
    padding: 2rem;


    @media only screen and (max-width: 86em) {  
      width: 124rem;
    }

    @media only screen and (max-width: 77em) {  
      width: 114rem;
    }

    @media only screen and (max-width: 71em) {  
      width: 104rem;
    }

    @media only screen and (max-width: 66.5em) {  
      width: 99rem;
    }

    @media only screen and (max-width: 64em) {  
      width: 80vw;
    }

    &__detail {
      margin-bottom: 5rem;

      & h2 {
        opacity: .7;
        font-weight: 900;
        font-size: 2rem;
      }

      & p {
        font-size: 1.7rem;

        @media only screen and (max-width: 64em) {  
          font-size: 2rem;
        }
      }
    }
  }

  &__similar {

    & h2 {
      text-align: center;
      text-transform: uppercase;
      padding: 3rem 0;
      font-size: 2.89rem;
    }

    &__content {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
      @media only screen and (max-width: 64em) {
        flex-wrap: wrap;
      }
    }

    &__card {
      width: 30rem;
      margin: 1rem;
      cursor: pointer;
      transition: all ease-in .1s;      
      
      @media only screen and (max-width: 82em) {  
        width: 41rem;
      }

      @media only screen and (max-width: 78em) {
        width: 38rem;
      }
  
      & figure {
        overflow: hidden;
        height: 31rem;

        @media only screen and (max-width: 82em) {  
          height: 43rem;
        }
  
        @media only screen and (max-width: 78em) {
          height: 40rem;
        }
  
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
  
      &--details {
        padding: 2rem 0;
        color: #000000;
        font-size: 2rem;
  
        &-name {
          opacity: 4;
        }
  
        &-price {
          font-weight: 700
        }
      }
    }
  }
}