.sidenav {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 14vw;
  background: #111;
  color: #fff;
  z-index: 2000;

  &__name {
    height: 10rem;
    background: #000;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__filters {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding-left: 3rem;

    &--h1 {
      font-size: 2.35rem;
    }

    &--menu {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
    }
  }

  &__filter {
    font-size: 1.88rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    opacity: .7;
    font-weight: 700;
    color: #fff;
  }
}