*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 60%;
}

body {
  overflow-x: hidden;
  background: rgba(236, 240, 241,1.0);
}